extends layout
block content
 h1 Energy Scraper
 p MQTT-backed Prometheus exporter for CircuitSetup and EmonESP energy monitor data.
 p
   | Runtime endpoints:
   |
   a(href='/metrics') /metrics
   |  and
   a(href='/healthz') /healthz
 hr
 dl
   dt Version
   dd #{version}
   dt Release
   dd #{releaseVersion}
   dt Git Ref
   dd #{gitRef}
   dt Git SHA
   dd #{gitSha}
   dt Hostname
   dd #{hostname}
   dt Build Number
   dd #{buildNumber}
   dt MQTT Topic Base
   dd #{mqttTopic}
